<%layout ("/layouts/boilerplate.ejs")%>
<body>
    <h3>Add Your Place</h3>
    <form method="POST" action="/listings/<%= listing.id%>?_method=PUT">
        <input name="listing[title]" value= <%=listing.title%> />
        <br>

        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br>

        <img name="listing[image]" src= <%=listing.image.url%> />
        <br>

        <input name="listing[price]" value= <%=listing.price%> />
        <br>

        <input name="listing[location]" value= <%=listing.location%>/>
        <br>

        <input name="listing[country]" value= <%=listing.country%> />
        <br>

        <button type="submit">Submit Changes</button>
    </form>
</body>
