<%layout ("/layouts/boilerplate.ejs")%>
<body>
       <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <%for(let list of allListings){%>
                <a class = "linked" href = "/listings/<%= list.id %>">
                    <div class="card listing-card">
                        <img src="<%=list.image.url%>" class="card-img-top" alt="<%=list.title%>" style = "height: 20rem;">
                        <div class="card-body">
                            <p class="card-text"><%= list.title %><br/>
                                &#8377;<%= list.price.toLocaleString("en-IN") %>/night</p>
                        </div>
                        <div class="card-img-overlay">
                            <div class="overlay-content">
                                <h5 class="card-title overlayTitle">About</h5>
                                <p class="card-text overlayText"><%= list.description %></p>
                            </div>  
                        </div>
                    </div>
                </a>
            <%}%>
       </div>
</body>