<%layout ("/layouts/boilerplate.ejs")%>
<body>
    <%- include("./includes/filter.ejs") %>
    
    <div class="switch-top-right">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display prices with Tax</label>
        </div>
    </div>
   <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <%for(let list of allListings){%>
            <a class = "linked" href = "/listings/<%= list.id %>">
                <div class="card listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="<%=list.title%>" style = "height: 20rem;">
                    <div class="card-body">
                        <p class="card-text before-taxswitch">
                            <b><%= list.title %><br/></b>
                            &#8377;<%= list.price.toLocaleString("en-IN") %>/night
                        </p>
                        <p class="card-text after-taxswitch" style = "display: none;">
                            <b><%= list.title %><br/></b>
                            &#8377;<%= ((list.price * 118)/100).toLocaleString("en-IN") %>/night
                        </p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="overlay-content">
                            <h5 class="card-title overlayTitle">About</h5>
                            <p class="card-text overlayText"><%= list.description %></p>
                        </div>  
                    </div>
                </div>
            </a>
        <%}%>
    </div>
</body>

<script>
    const switchCheckDefault = document.getElementById('switchCheckDefault');
    switchCheckDefault.addEventListener('change', function() {
        if (this.checked) {
            document.querySelectorAll('.before-taxswitch').forEach(el => el.style.display = 'none');
            document.querySelectorAll('.after-taxswitch').forEach(el => el.style.display = 'inline-block');
          } else {
            document.querySelectorAll('.before-taxswitch').forEach(el => el.style.display = 'inline-block');
            document.querySelectorAll('.after-taxswitch').forEach(el => el.style.display = 'none');
        }
    });
</script>